.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.nav-items {
    cursor: pointer;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
    font-family: Dialog, serif;
}

.nav-items > li {
    padding: 18px;
    color: black;
}

.search-container {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search-input {
    width: 40%;
    height: 35px;
    border-color: black;
    border-radius: 5px;
}

.search-btn {
    margin-left: 10px;
    height: 42px;
    width: 90px;
    padding: 1px 2px;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.logo {
    width: 150px;
}

.restaurant-container {
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    width: 25%;
    cursor: pointer;
}

.restaurant-container > img{
    width: 100%;
}

.names {
    font-family: Dialog, serif;
    font-size: 22px;
    word-wrap: initial;
}

.categories {
    font-family: Dialog, serif;
    font-size: 15px;
    color: grey;
}

.restaurant-info-container {
    display: flex;
    justify-content: space-between;
    font-family: Dialog, serif;
    font-size: 15px;
    color: grey;
    margin-top: 15px;
}

.ratings {
    padding: 3px;
    margin-right: 3px;
    color: white;
    background-color: green;
    border-radius: 4px;
}

.separator {
    padding: 3px;
}

.eta {
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
}

.estimated-cost {
    padding: 3px;
    margin-left: 3px;
}

.restaurant-list-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
}

/* shimmer */
.shimmer-restaurant-container {
    margin: 20px;
    padding: 15px;
    width: 25%;
}

.shimmer-image-background {
    width: 308px;
    height: 220px;
    background-color: lightgrey;
    border-radius: 5px;
    animation: shimmer 1s linear infinite alternate;
}

.shimmer-main-content {
    margin-top: 15px;
    height: 30px;
    background-color: lightgrey;
    border-radius: 5px;
    animation: shimmer 1s linear infinite alternate;
}

.content1 {
    width: 307px;
}

.content2 {
    width: 160px;
}

.shimmer-restaurant-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.shimmer-separator {
    padding: 3px;
    color: lightgrey;
}

.shimmer-sub-content {
    width: 60px;
    height: 30px;
    background-color: lightgrey;
    border-radius: 5px;
    animation: shimmer 1s linear infinite alternate;
}

@keyframes shimmer {
    0% {
        background-color: hsl(200, 20%, 86%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.loader-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
}

.login-btn {
    height: 42px;
    width: 95px;
    padding: 1px 2px;
    background-color: black;
    opacity: 90%;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 20px auto 10px;
}