.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.nav-items {
    cursor: pointer;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
    font-family: Dialog, serif;
}

.nav-items > li {
    padding: 18px;
    color: black;
}

.logo {
    margin-left: 20px;
}


.nav-items > a {
    text-decoration: none;
    padding: 18px;
    color: black;
}

.nav-items > a:hover {
    text-decoration: underline;
}

.logout-btn {
    height: 42px;
    width: 95px;
    padding: 1px 2px;
    background-color: black;
    opacity: 90%;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 20px auto 10px;
}